.container {
  margin: 2em;
}

.player-card {
  max-width: 500px;
  min-width: 250px;
}

.card-header-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
}

.card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
}